.button {
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &--default {
    background-color: rgba(9, 30, 66, 0.04);
    border-radius: 4px;
    color: #344563;
    padding: 10px 24px;

    &:hover {
      background-color: #F4F5F7;
    }

    &:active {
      background-color: #DBDCDE;
    }
  }

  &--primary {
    background-color: #009FD4;
    border-radius: 4px;
    color: #FFF;
    padding: 10px 24px;

    &:hover {
      background-color: #008CBA;
    }

    &:active {
      background-color: #0079A1;
    }
  }

  &--subtle {
    background-color: #F4F5F7;
    border-radius: 3px;
    color: #344563;
    padding: 8px 12px;

    &:hover {
      background-color: #F0F1F4;
    }

    &:active {
      background-color: #E5F5FA;
      color: #009FD4;
    }
  }
}